<!doctype html>

<h1>Enter the text and choose where to put the text </h1>
<div class="main">
    <img src={{ url }} >
    <form class="pure-form" method="POST">
    Enter some Text:<br>
    <input type="text" name="Text"><br>
    <select name="Select">
        <option value="up">up</option>
        <option value="middle">middle</option>
        <option value="bottom">bottom</option>
    </select>
    <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit!</button>
    </form>
</div>

</body>